<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="Sims_Hospital_Zdravo.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup>
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
    <runtime>
        <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
            <dependentAssembly>
                <assemblyIdentity name="Syncfusion.Licensing" publicKeyToken="632609b4d040f6b4" culture="neutral" />
                <bindingRedirect oldVersion="0.0.0.0-20.1460.0.59" newVersion="20.1460.0.59" />
            </dependentAssembly>
        </assemblyBinding>
    </runtime>
    <userSettings>
        <Sims_Hospital_Zdravo.Properties.Settings>
            <setting name="ColorMode" serializeAs="String">
                <value>Light</value>
            </setting>
        </Sims_Hospital_Zdravo.Properties.Settings>
    </userSettings>
</configuration>